################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Entities/bin
/.vs/Lab/v15/Server/sqlite3
/Entities/obj
/Lab/bin
/Lab/obj
/LabHost/bin
/LabHost/obj
/LabService/bin
/LabService/obj
